
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003366;
    color: white;
    font-size: 14px;
    padding: 7px;
}
#header img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

    
    @media(max-width:768px){
        header {
            flex-direction: column;
            text-align: center;
        }
    }
    
    
    body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    }
    
    
    #map{
        width: 100%;
        height: calc(100% - 59px);
        border-style: solid;     
    
    }


    #controls {
        margin: 2px 10px;
        font-size: 11.5px;
      }
    
    
      #blue-button {
        background-color: #007bff; /* Azul bootstrap */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
        margin-top: 10px;
      }
    
      #blue-button:hover {
        background-color: #0056b3; /* Azul más oscuro para hover */
      }

      .custom-icon {
        width: 18px;  /* Tamaño aumentado para el punto rojo */
        height: 18px; /* Tamaño aumentado para el punto rojo */
        border-radius: 50%;
        background-color: red;
      }